@charset "UTF-8";
/* CSS Document*/

// lancome reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

/* CSS reset*/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td,
footer,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* link styles*/
a,
div,
li {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
div,
li:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  // -webkit-transition: all 0.5s ease;
  // -o-transition: all 0.5s ease;
  // transition: all 0.5s ease;
}

img {
  // display: block;
  max-width: 100%;
  // height: auto;
  vertical-align: top; //解除圖片底下有空白問題
}

ul,
li {
  list-style: none;
}

// botton start -----------------------------------------------------
.Button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-radius: 99em;
  box-sizing: border-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -ms-flex-align: center;
  align-items: center;
}

.Button-primary {
  font-size: 23px;
  line-height: 2.5;
  // background-color: #000;
  // color: #fff;
  color: #000;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

.Button-primary-hollow {
  background-color: transparent;
  border: 1px solid;
}
.Button-primary .button-icon {
  height: 0.75em;
  width: 0.75em;
  margin-bottom: 0.125em;
}

.button-wrap {
  position: relative;
  .Button {
    // background-color: #000;
    border-color: #000;
  }
  .button-wrap-button {
    position: relative;
    transition: border-radius 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1),
      border-color 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1);
    border-radius: 30px;
    outline: none;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0%;
      background-color: rgba(0, 0, 0, 0.8);
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: height 0.3s 0.2s cubic-bezier(0.69, 0.01, 0.2, 0.99);
    }
    &:hover .button-icon {
      transform: translate3d(0, 0, 0) rotate(180deg);
    }
    .button-text {
      margin-right: 50px;
    }
    .button-icon {
      position: relative;
      padding: 0px;
      margin: 0px;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      transition: transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
      overflow: hidden;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background-color: #000;
      }
      &:after {
        transform: rotate(90deg);
        transition: transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
      }
    }
  }
}
// botton end -----------------------------------------------------

$grey: #323131;
$brown: #8e5f52;

.CLAFDT-wrap {
  // 共用
  .pc {
    display: block;
  }
  .mb {
    display: none;
  }

  h1 {
    font-size: 44px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px;
    color: $grey;
  }
  .note {
    font-size: 15px;
  }
  .CLAFDT-btn-wrap {
    padding: 0.8em 0;
    a {
      &:nth-of-type(1) {
        padding-right: 0.5em;
      }
    }
    .CLAFDT-btn-buy,
    .CLAFDT-btn-try {
      display: inline-block;
      text-align: center;
      margin: 10px auto;
      padding: 12px 40px;
      font-size: 18px;
      letter-spacing: 0.1em;
      color: #fff;
      background-color: #000;
      border: 1px solid #000;
      box-shadow: 0 0 10px #fff;
      transition: background-color 0.25s ease-out, color 0.25s ease-out,
        border-color 0.25s ease-out;
      cursor: pointer;
      &:hover {
        transition: all 0.5s ease;
        transform: scale(0.9);
        background: #fff;
        border: 1px solid #000;
        color: #000;
      }
    }
  }
  .CLAFDT-btn-content {
    .name {
      font-size: 30px;
    }
    .price {
      font-size: 18px;
    }
  }
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Microsoft JhengHei, 微軟正黑體, serif;
  background-color: #efd3bb;
  .kv-wrap {
    width: 100%;
    // position: relative;
    background: url(../images/CLAFDT-bg-pc_01.jpg) no-repeat top center;
    background-size: 100%;
    background-color: #fff;
    .CLAFDT-content {
      padding: 22.3% 0 2em;
      display: flex;
      flex-direction: row;
      .CLAFDT-content-left {
        width: 50%;
        padding-right: 23.7%;
        text-align: right;
        p {
          font-size: 25px;
        }
      }
      .CLAFDT-content-right {
        width: 50%;
        .CLAFDT-content-right-tit {
          padding-top: 58%;
          h1 {
            font-size: 40px;
          }
        }
        .CLAFDT-content-right-txt {
          padding-top: 25px;
          p {
            font-size: 26px;
            span {
              display: inline-block;
              font-size: 17.5px;
              border: 1px #000 solid;
              padding: 0 0.3em 0;
              margin: 0 0 0.3em 0;
              vertical-align: middle;
            }
          }
          img {
            width: 42%;
          }
        }
      }
      .CLAFDT-content-right.on {
        animation: approach-from-top 1.5s;
      }
    }
  }
  .section-2-wrap {
    width: 100%;
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/CLAFDT-bg-pc_02.jpg) no-repeat top center;
      background-size: 100%;
    }
    .CLAFDT-content {
      position: absolute;
      z-index: 2;
      top: 9%;
      right: 0;
      left: 0;
      .CLAFDT-content-tit {
        h1 {
          // padding-bottom: 0.5em;
        }
        // span {
        //   img {
        //     width: 33.2%;
        //   }
        // }
      }
      .CLAFDT-content-bubble {
        width: 270px;
        height: 520px;
        position: relative;
        border: 1px #000 solid;
        img {
          &:nth-child(1) {
            position: absolute;
            top: -20px;
            left: 10px;
            animation: bubble 5s linear infinite;
            animation-direction: alternate;
          }
          &:nth-child(2) {
            position: absolute;
            top: 150px;
            left: 80px;
            animation: bubble-reverse 8s linear infinite;
            animation-direction: alternate;
          }
          &:nth-child(3) {
            position: absolute;
            top: 300px;
            left: 0px;
            animation: bubble-reverse2 5s linear infinite;
            animation-direction: alternate;
          }
        }
      }
      .CLAFDT-btn-content {
        width: 325px;
        padding-top: 27%;
        margin-left: 23%;
      }
    }
    .CLAFDT-content.on {
      animation: approach-from-top 1.5s;
    }
  }
  .section-3-wrap {
    width: 100%;
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/CLAFDT-bg-pc_03.jpg) no-repeat top center;
      background-size: 100%;
    }
    .CLAFDT-content {
      position: absolute;
      top: 6.26%;
      right: 0;
      left: 0;
      .CLAFDT-content-tit.on {
        animation: approach-from-top 1.5s;
      }
      .three-points-wrap {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 820px;
        .point1,
        .point2,
        .point3 {
          position: absolute;
          width: 515px;
          .top {
            .title {
              font-size: 28.5px;
              font-weight: bold;
            }
            .subtitle {
              font-size: 25.5px;
              &:after {
                content: "";
                display: inline-block;
                background: url(../images/3-points-btn.png) no-repeat center
                  center;
                background-size: 100%;
                width: 45px;
                height: 45px;
                margin-left: 0.5em;
                vertical-align: middle;
                cursor: pointer;
              }
            }
          }
          .bottom-wrap {
            position: relative;
            .bottom-wrap-item {
              position: absolute;
              &:nth-of-type(1) {
                right: -52px;
                top: 10px;
              }
              &:nth-of-type(2) {
                left: 0;
                z-index: 2;
                margin-top: 1em;
                text-align: left;
                width: 478px;
                background-color: rgba($color: #fff, $alpha: 0.95);
                padding: 1em;
                opacity: 0;
                p {
                  &:nth-of-type(1) {
                    font-size: 28.5px;
                    padding-bottom: 0.5em;
                    font-weight: bold;
                  }
                  &:nth-of-type(2) {
                    font-size: 19px;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
        .point-item {
          .bottom-wrap {
            .bottom-wrap-item {
              &:nth-of-type(2) {
                transition: all 1s ease;
              }
            }
          }
        }
        .point-item.active {
          .top {
            .subtitle {
              &:after {
                opacity: 0.8;
                animation: buttonRoll 1s linear alternate;
                animation-fill-mode: forwards;
              }
            }
          }
          .bottom-wrap {
            .bottom-wrap-item {
              &:nth-of-type(2) {
                opacity: 1;
                transition: all 1s ease;
              }
            }
          }
        }
        .point1 {
          top: 116px;
          left: 3.6%;
          .top {
            .subtitle {
              margin-left: 55px;
            }
          }
          .bottom-wrap {
            .bottom-wrap-item {
              &:nth-of-type(1) {
                right: -70px;
                top: 10px;
              }
            }
          }
        }
        .point1.on {
          animation: approach-from-top 1.5s;
        }
        .point2 {
          top: 472px;
          left: 3.6%;
          .top {
            .subtitle {
              margin-left: 55px;
            }
          }
          .bottom-wrap {
            .bottom-wrap-item {
              &:nth-of-type(1) {
                right: -72px;
                top: -98px;
              }
            }
          }
        }
        .point2.on {
          animation: approach-from-top 1.5s;
        }
        .point3 {
          top: 203px;
          right: 10%;
          .top {
            .subtitle {
              margin-left: 55px;
            }
          }
          .bottom-wrap {
            .bottom-wrap-item {
              &:nth-of-type(1) {
                right: 175px;
                top: 14px;
              }
            }
          }
        }
        .point3.on {
          animation: approach-from-top 1.5s;
        }
      }
    }
  }
  .section-4-wrap {
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/CLAFDT-bg-pc_04.jpg) no-repeat top center;
      background-size: 100%;
    }
    .CLAFDT-content {
      position: absolute;
      z-index: 2;
      top: 11.7%;
      left: 0;
      right: 0;
      .FDT-color {
        margin-top: 20px;
        img {
          width: 40%;
          margin: 0 auto;
        }
      }
    }
    .CLAFDT-content.on {
      animation: approach-from-top 1.5s;
    }
  }
  .section-5-wrap {
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/CLAFDT-bg-pc_05.jpg) no-repeat top center;
      background-size: 100%;
    }
    .CLAFDT-content {
      position: absolute;
      z-index: 2;
      top: 13.5%;
      left: 0;
      right: 0;
      // text-align: left;
      .CLAFDT-content-tit-wrap {
        margin-left: -59%;
        h2 {
          span {
            display: inline-block;
            font-size: 17.5px;
            border: 1px #000 solid;
            padding: 0 0.3em 0;
            margin: 0 0 0.3em 0;
            vertical-align: middle;
          }
        }
        .CLAFDT-content-tit {
          h1 {
            font-weight: normal;
            font-size: 35px;
            span {
              font-size: 60px - 5;
              padding-right: 0.1em;
            }
            &:nth-of-type(2) {
              padding-left: 3em;
              margin-top: -0.3em;
            }
          }
          h1.on {
            &:nth-of-type(1) {
              animation: approach-from-right 1s;
            }
            &:nth-of-type(2) {
              animation: approach-from-left 2s;
            }
          }
        }
      }
      .CLAFDT-btn-content {
        margin-top: 3em;
        margin-left: -55%;
      }
      .more-info-wrap {
        display: flex;
        flex-direction: row;
        // width: 1000px;
        margin: 80px 10% 0;
        .info1,
        .info2,
        .info3 {
          width: 33.33333%;
          .info-text {
            display: none;
            padding-top: 0.5em;
            text-align: left;
            font-size: 21px;
          }
        }
        .info-item.active {
          .info-text {
            display: block;
          }
        }
      }
      .more-info-wrap.on {
        animation: approach-from-top 1.5s;
      }
    }
  }
  .section-6-wrap {
    background: url(../images/CLAFDT-bg-pc_06.jpg) no-repeat top center;
    background-size: 100%;
    position: relative;

    .adjust {
      position: absolute;
      z-index: 1;
      display: block;
      width: 100px;
      top: -100px;
    }
    .CLAFDT-content {
      padding: 92px 8% 0;
      .CLAFDT-content-tit.on {
        animation: approach-from-top 1.5s;
      }
      .bottom {
        display: flex;
        flex-direction: row;
        margin-top: 70px;
        .CLAFDT-form {
          width: 50%;
          p {
            font-size: 21px;
            text-align: left;
          }
          .eventpage_oto_wrapper {
            .event_oto {
              .event_content {
                .note {
                  text-align: left;
                  padding-top: 1.5em;
                  ul li {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
        .CLAFDT-gift {
          width: 50%;
        }
        .CLAFDT-gift.on {
          animation: approach-from-right 1.5s;
        }
      }
      .bottom-new {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
        .CLAFDT-content-left {
          width: 60%;
        }
        .CLAFDT-content-right {
          width: 50%;
          padding-top: 100px;
          .CLAFDT-content-tit {
            h2 {
              padding-top: 0.5em;
              img {
                width: 148px;
              }
            }
          }
          .CLAFDT-btn-content {
            padding-top: 4em;
            .price {
              span {
                color: #c07f4b;
                font-size: 35px;
                font-weight: bold;
              }
            }
          }
        }
      }
      .bottom-new.on {
        animation: approach-from-top 1.5s;
      }
    }
  }
}

@media (max-width: 1024px) {
  .CLAFDT-wrap {
    // 共用

    h1 {
      font-size: 44px - 5;
    }
    h2 {
      font-size: 30px - 5;
      color: $grey;
    }
    .note {
      font-size: 15px - 3;
    }
    .CLAFDT-btn-content {
      .name {
        font-size: 30px - 5;
      }
      .price {
        font-size: 18px - 3;
      }
    }
    .kv-wrap {
      .CLAFDT-content {
        padding: 22.3% 0 2em;
        .CLAFDT-content-left {
          p {
            font-size: 25px - 3;
          }
        }
        .CLAFDT-content-right {
          .CLAFDT-content-right-tit {
            padding-top: 56%;
            h1 {
              font-size: 40px - 5;
            }
          }
          .CLAFDT-content-right-txt {
            padding-top: 25px;
            img {
              width: 52%;
            }
            p {
              span {
                font-size: 17.5px;
              }
            }
          }
        }
      }
    }
    .section-2-wrap {
      .CLAFDT-content {
        .CLAFDT-btn-content {
          padding-top: 25%;
          margin-left: 17%;
        }
      }
    }
    .section-3-wrap {
      .CLAFDT-content {
        top: 6.26%;
        .three-points-wrap {
          .point1 {
            top: 57px;
            left: 0;
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: -69px;
                  img {
                    width: 71%;
                  }
                }
              }
            }
          }
          .point2 {
            top: 362px;
            left: 0;
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: -73px;
                  top: -86px;
                  img {
                    width: 70%;
                  }
                }
              }
            }
          }
          .point3 {
            top: 91px;
            right: 62px;
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 175px;
                  top: 14px;
                }
              }
            }
          }
        }
      }
    }
    .section-5-wrap {
      .CLAFDT-content {
        top: 10%;
        .CLAFDT-content-tit-wrap {
          h2 {
            span {
              font-size: 17.5px - 3;
            }
          }
          .CLAFDT-content-tit {
            h1 {
              font-size: 35px - 5;
              span {
                font-size: 60px - 8;
              }
            }
          }
        }
        .more-info-wrap {
          margin: 30px 8% 0;
          .info1,
          .info2,
          .info3 {
            .button-wrap {
              .Button-primary {
                font-size: 18px;
                line-height: 52px;
                padding-left: 26px;
                padding-right: 26px;
              }
            }
            .info-text {
              font-size: 21px - 3;
            }
          }
        }
      }
    }
    .section-6-wrap {
      .CLAFDT-content {
        padding: 75px 4% 0;
        .bottom {
          margin-top: 36px;
          .CLAFDT-form {
            p {
              font-size: 21px - 3;
            }
            .eventpage_oto_wrapper {
              .event_oto {
                .event_content {
                  .note {
                    ul li {
                      font-size: 15px - 3;
                    }
                  }
                }
              }
            }
            .eventpage_oto_wrapper
              .event_oto
              .event_content
              .formfields_box
              .f_field_textinput
              input {
              height: 45px;
            }
          }
        }
        .bottom-new {
          .CLAFDT-content-right {
            padding-top: 70px;
            .CLAFDT-btn-content {
              .price {
                span {
                  font-size: 35px - 5;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .CLAFDT-wrap {
    // 共用
    .pc {
      display: none;
    }
    .mb {
      display: block;
    }

    h1 {
      font-size: 44px + 10;
      font-weight: bold;
    }
    h2 {
      font-size: 30px + 10;
      color: $grey;
    }
    .note {
      font-size: 15px;
    }
    .CLAFDT-btn-content {
      .name {
        font-size: 30px + 10;
      }
      .price {
        font-size: 18px + 10;
      }
    }
    .CLAFDT-btn-wrap {
      .CLAFDT-btn-try,
      .CLAFDT-btn-buy {
        font-size: 32px;
      }
    }

    .kv-wrap {
      background: url(../images/CLAFDT-bg-mb_01.jpg) no-repeat top center;
      background-size: 100%;
      .CLAFDT-content {
        padding: 22.3% 0 2em;
        .CLAFDT-content-right {
          width: 100%;
          .CLAFDT-content-right-tit {
            padding-top: 71.8%;
            width: 93%;
            text-align: right;
            margin-right: 7%;
            h1 {
              font-size: 44px;
              margin-right: -0.3em;
            }
            h2 {
              font-size: 35px;
            }
          }
          .CLAFDT-content-right-txt {
            padding-top: 3em;
            p {
              font-size: 36px;
              width: 93%;
              text-align: right;
              margin-right: 7%;
              span {
                font-size: 22.5px;
                padding: 0 0.3em 0;
                margin: 0 0 0.3em 0;
                vertical-align: middle;
              }
            }
            img {
              width: 49%;
              text-align: right;
              margin-right: -37%;
            }
            .CLAFDT-btn-wrap {
              padding-top: 3em;
            }
          }
        }
      }
    }
    .section-2-wrap {
      .bg-img {
        width: 100%;
        background: url(../images/CLAFDT-bg-mb_02.jpg) no-repeat top center;
        background-size: 100%;
      }
      .CLAFDT-content {
        top: 6.6%;
        .CLAFDT-content-tit {
          h1 {
            padding-bottom: 0.5em;
          }
          span {
            img {
              width: 70%;
            }
          }
        }
        .CLAFDT-btn-content {
          padding-top: 120%;
          margin: 0 auto;
        }
      }
    }
    .section-3-wrap {
      .bg-img {
        width: 100%;
        background: url(../images/CLAFDT-bg-mb_03.jpg) no-repeat top center;
        background-size: 100%;
      }
      .CLAFDT-content {
        .three-points-wrap {
          .point1 {
            top: 18%;
            left: 24.6%;
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 41px;
                  top: 18px;
                  img {
                    width: 80%;
                  }
                }
              }
            }
          }
          .point2 {
            top: 440px;
            left: 19.6%;
            .top {
              .subtitle {
                margin-left: 55px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 106px;
                  top: 12px;
                  img {
                    width: 80%;
                  }
                }
              }
            }
          }
          .point3 {
            top: 792px;
            right: -4%;
            .top {
              .subtitle {
                margin-left: 55px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 170px;
                  top: -229px;
                }
              }
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: 39%;
        }
      }
    }
    .section-4-wrap {
      .bg-img {
        width: 100%;
        background: url(../images/CLAFDT-bg-mb_04.jpg) no-repeat top center;
        background-size: 100%;
      }
      .CLAFDT-content {
        top: 11.7%;
        .FDT-color {
          margin-top: 40px;
          img {
            width: 75%;
          }
        }
      }
    }
    .section-5-wrap {
      .bg-img {
        width: 100%;
        background: url(../images/CLAFDT-bg-mb_05.jpg) no-repeat top center;
        background-size: 100%;
      }
      .CLAFDT-content {
        top: 6.5%;
        .CLAFDT-content-tit-wrap {
          margin-left: 0;
          h2 {
            span {
              font-size: 24px;
              padding: 0 0.3em 0;
              margin: 0 0 0.4em 0;
              vertical-align: middle;
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: 76%;
          margin-left: 0;
        }
        .more-info-wrap {
          flex-direction: column;
          .info1,
          .info2,
          .info3 {
            width: 100%;
            margin-bottom: 2em;
            .info-text {
              padding-top: 1em;
              text-align: left;
              font-size: 21px + 5;
              line-height: 1.5;
            }
            .button-wrap {
              .Button-primary {
                font-size: 40px;
                line-height: 80px;
                padding-left: 26px;
                padding-right: 26px;
                border-radius: 40px;
                .button-icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
    .section-6-wrap {
      background: url(../images/CLAFDT-bg-mb_06.jpg) no-repeat top center;
      background-size: 100%;

      .CLAFDT-content {
        .bottom {
          flex-direction: column;
          // padding-top: 70px;
          .CLAFDT-form {
            width: 100%;
            .eventpage_oto_wrapper {
              .event_oto {
                .event_content {
                  .note {
                    ul li {
                      font-size: 15px + 3;
                    }
                  }
                }
              }
            }
          }
          .CLAFDT-gift {
            width: 100%;
          }
        }
        .bottom-new {
          display: flex;
          flex-direction: column;
          padding-bottom: 100px;
          position: relative;
          .CLAFDT-content-left {
            width: 100%;
            padding-top: 9em;
          }
          .CLAFDT-content-right {
            width: 100%;
            // padding-left: 10%;
            padding-top: 0;

            .CLAFDT-content-tit {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              h2 {
                padding-top: 0.5em;
                img {
                  width: 148px;
                }
              }
            }
            .CLAFDT-btn-content {
              padding-top: 0;
              margin-top: -60px;
              .price {
                span {
                  color: #c07f4b;
                  font-size: 35px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .CLAFDT-wrap {
    // 共用

    h1 {
      font-size: 25px + 5;
    }
    h2 {
      font-size: 22px;
    }
    .note {
      font-size: 12px;
    }
    .CLAFDT-btn-content {
      .name {
        font-size: 25px;
      }
      .price {
        font-size: 15px;
      }
    }
    .CLAFDT-btn-wrap {
      .CLAFDT-btn-try,
      .CLAFDT-btn-buy {
        font-size: 18px;
      }
    }

    .kv-wrap {
      background-color: #fff;
      .CLAFDT-content {
        padding: 22.3% 0 0;
        .CLAFDT-content-right {
          .CLAFDT-content-right-tit {
            padding-top: 65.8%;
            width: 95%;
            margin-right: 5%;
            h1 {
              font-size: 44px - 13;
            }
            h2 {
              font-size: 35px - 12;
            }
          }
          .CLAFDT-content-right-txt {
            padding-top: 3em;
            p {
              font-size: 36px - 11;
              width: 95%;
              text-align: right;
              margin-right: 5%;
              span {
                font-size: 17.5px - 3;
              }
            }
            img {
              width: 61%;
              text-align: right;
              margin-right: -29%;
            }
            .CLAFDT-btn-wrap {
              padding-top: 1em;
            }
          }
        }
      }
    }
    .section-3-wrap {
      box-sizing: border-box;
      overflow: hidden;
      .CLAFDT-content {
        .three-points-wrap {
          .point1,
          .point2,
          .point3 {
            width: 100%;
            .top {
              img {
                &:nth-of-type(1) {
                  width: 10%;
                }
              }
              .title {
                font-size: 28.5px - 5.5;
              }
              .subtitle {
                font-size: 25.5px - 5.5;
                margin-top: -0.8em;
                &::after {
                  width: 35px;
                  height: 35px;
                }
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                width: 100%;
                right: 0;
                left: 0;
                &:nth-of-type(1) {
                  width: 100%;
                }
                &:nth-of-type(2) {
                  width: 100%;
                  p {
                    &:nth-of-type(1) {
                      font-size: 28.5px - 5.5;
                      padding-bottom: 0;
                    }
                    &:nth-of-type(2) {
                      font-size: 19px - 4;
                      line-height: 1.3;
                    }
                  }
                }
              }
            }
          }
          .point1 {
            top: 8%;
            left: 0;
            right: 0;
            .top {
              margin-right: -31%;
            }
            .bottom-wrap {
              .bottom-wrap-item {
                width: 100%;
                &:nth-of-type(1) {
                  right: 0;
                  left: 123px;
                  top: 8px;
                  width: 80%;
                  img {
                    width: 80%;
                  }
                }
              }
            }
          }
          .point2 {
            top: 34%;
            left: 19.6%;
            .top {
              .subtitle {
                margin-left: 55px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 0;
                  left: 15px;
                  top: 12px;
                  width: 83%;
                }
                &:nth-of-type(2) {
                  left: -19.6%;
                }
              }
            }
          }
          .point3 {
            top: 59%;
            right: 0;
            left: 20%;
            .top {
              .subtitle {
                margin-left: 55px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 0;
                  top: -133px;
                  left: 46%;
                  img {
                    width: 22%;
                  }
                }
                &:nth-of-type(2) {
                  left: -20%;
                }
              }
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: -40%;
        }
      }
    }
    .section-5-wrap {
      .CLAFDT-content {
        top: 6.5%;
        .CLAFDT-content-tit-wrap {
          margin-left: 0;
          h2 {
            span {
              font-size: 17.5px;
            }
          }
          .CLAFDT-content-tit {
            margin-left: -9%;
            h1 {
              font-size: 35px - 10;
              span {
                font-size: 60px - 15 - 3;
              }
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: 63%;
        }
        .more-info-wrap {
          width: 92%;
          margin: 35px 4% 0;
          .info1,
          .info2,
          .info3 {
            width: 100%;
            margin-bottom: 1em;
            .info-text {
              padding-top: 0.5em;
              font-size: 21px - 3;
              line-height: 1.5;
            }
            .button-wrap {
              .Button-primary {
                font-size: 40px - 18;
                line-height: 53px;
                border-radius: 30px;
                .button-icon {
                  width: 20px - 5;
                  height: 20px - 5;
                }
              }
            }
          }
        }
      }
    }
    .section-6-wrap {
      .CLAFDT-content {
        padding: 92px 5% 0;
        .bottom {
          padding-top: 0;
          .CLAFDT-form {
            .eventpage_oto_wrapper {
              .event_oto {
                .event_content {
                  .note {
                    ul li {
                      font-size: 15px - 5;
                    }
                  }
                }
              }
            }
          }
          .CLAFDT-gift {
            width: 90%;
            margin: 0 auto;
            img {
              margin-top: 0;
            }
          }
        }
        .bottom-new {
          .CLAFDT-content-left {
            padding-top: 6em;
          }
          .CLAFDT-content-right {
            padding-top: 0;

            .CLAFDT-content-tit {
              h2 {
                img {
                  width: 29%;
                }
              }
            }
            .CLAFDT-btn-content {
              padding-top: 0;
              margin-top: -20px;
              .price {
                span {
                  font-size: 35px - 10;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .CLAFDT-wrap {
    // 共用
    h1 {
      font-size: 25px + 5;
    }
    .CLAFDT-btn-wrap {
      padding: 0.5em 0;
    }
    .CLAFDT-btn-content {
      .name {
        font-size: 25px - 3;
      }
      .price {
        font-size: 15px - 2;
      }
    }
    .kv-wrap {
      .CLAFDT-content {
        padding: 22.3% 0 0;
        .CLAFDT-content-right {
          .CLAFDT-content-right-tit {
            h1 {
              font-size: 44px - 12 - 4;
            }
            h2 {
              font-size: 35px - 12 - 2;
            }
          }
          .CLAFDT-content-right-txt {
            padding-top: 2em;
            p {
              font-size: 36px - 15;
              span {
                font-size: 17.5px - 4;
              }
            }
            img {
              width: 59%;
              margin-right: -31%;
            }
            .CLAFDT-btn-wrap {
              padding-top: 1em;
            }
          }
        }
      }
    }
    .section-2-wrap {
      .CLAFDT-content {
        .CLAFDT-content-tit {
          h1 {
            padding-bottom: 1em;
          }
          span {
            img {
              width: 76%;
            }
          }
        }
        .CLAFDT-btn-content {
          padding-top: 112%;
        }
      }
    }
    .section-3-wrap {
      .CLAFDT-content {
        .three-points-wrap {
          .point1,
          .point2,
          .point3 {
            .top {
              .title {
                font-size: 23px - 2;
              }
              .subtitle {
                font-size: 20px - 2;
                &::after {
                  width: 30px;
                  height: 30px;
                }
              }
              img {
                &:nth-of-type(2) {
                  width: 14%;
                }
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(2) {
                  margin-top: 0.5em;
                  p {
                    &:nth-of-type(1) {
                      font-size: 28.5px - 5.5 - 2;
                    }
                    &:nth-of-type(2) {
                      font-size: 19px - 4;
                    }
                  }
                }
              }
            }
          }
          .point1 {
            top: 5%;
            .top {
              margin-right: -31%;
              .subtitle {
                margin-left: 47px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  left: 123px;
                  top: 16px;
                  width: 80%;
                  img {
                    width: 80%;
                  }
                }
              }
            }
          }
          .point2 {
            top: 29%;
            .top {
              .subtitle {
                margin-left: 42px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 0;
                  left: 15px;
                  top: 12px;
                  width: 83%;
                }
                &:nth-of-type(2) {
                  left: -19.6%;
                }
              }
            }
          }
          .point3 {
            top: 53%;
            .top {
              .subtitle {
                margin-left: 42px;
              }
            }
            .bottom-wrap {
              .bottom-wrap-item {
                &:nth-of-type(1) {
                  right: 0;
                  top: -133px;
                  left: 46%;
                  img {
                    width: 22%;
                  }
                }
                &:nth-of-type(2) {
                  left: -20%;
                }
              }
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: -66%;
        }
      }
    }
    .section-5-wrap {
      .CLAFDT-content {
        .CLAFDT-content-tit-wrap {
          h2 {
            span {
              font-size: 17.5px - 2;
            }
          }
          .CLAFDT-content-tit {
            margin-left: -9%;
            h1 {
              font-size: 35px - 10 - 3;
              span {
                font-size: 60px - 15 - 10;
              }
            }
          }
        }
        .CLAFDT-btn-content {
          margin-top: 63%;
        }
        .more-info-wrap {
          .info1,
          .info2,
          .info3 {
            .info-text {
              font-size: 21px - 3 - 2;
            }
            .button-wrap {
              .Button-primary {
                font-size: 40px - 18 - 2;
                line-height: 53px - 5;
                border-radius: 30px;
              }
            }
          }
        }
      }
    }
    .section-6-wrap {
      .CLAFDT-content {
        .bottom {
          padding-top: 0;
          margin-top: 30px;
          .CLAFDT-form {
            .eventpage_oto_wrapper {
              .event_oto {
                .event_content {
                  .formfields_box .f_field_textinput input {
                    margin-bottom: 12px;
                  }
                  .note {
                    ul li {
                      font-size: 15px - 7;
                    }
                  }
                }
              }
            }
          }
        }
        .bottom-new {
          .CLAFDT-content-right {
            .CLAFDT-btn-content {
              .price {
                span {
                  font-size: 35px - 13;
                }
              }
            }
          }
        }
      }
    }
  }
}

// animation

@keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes buttonRoll {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(180deg);
  }
}

@keyframes approach-from-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes approach-from-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes approach-from-top {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bubble {
  0% {
    transform: translate(15px, 30px);
  }
  33% {
    transform: translate(-5px, 20px);
  }
  66% {
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes bubble-reverse {
  0% {
    transform: translate(-15px, 30px);
  }
  33% {
    transform: translate(5px, 20px);
  }
  66% {
    transform: translate(-10px, 15px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes bubble-reverse2 {
  0% {
    transform: translate(18px, 33px);
  }
  33% {
    transform: translate(3px, 18px);
  }
  66% {
    transform: translate(-12px, 13px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@import "form.scss";
